.get-started {
  padding: 120px 0;
}

.get-started-container {
  border-radius: 10px;
  background-color: #f1f1f1;
  padding: 80px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.get-started-content {
  max-width: 40%
}

.get-started-content h2 {
  color: #0a083b;
  font-size: 48px;
  font-weight: 600;
}

.get-started-content div {
  margin-top: 20px;
  margin-bottom: 40px;
  color: #57586e;
  font-size: 18px;
  line-height: 1.7;
}

.get-started-image {
  padding-left: 20px;
  max-width: 55%;
}

.get-started-image img {
  width: 100%;
}