@import "topbar.css";
@import "header.css";
@import "dropdown.css";
@import "hero.css";
@import "trust.css";
@import "about-product.css";
@import "testimonial.css";
@import "get-started.css";
@import "footer.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Inter', sans-serif;
}

h3 {
  font-size: 40px;
  font-weight: 600;
  color: #0a083b;
  line-height: 1.2;
}

button:focus {
  outline: none;
}

.text-center {
  text-align: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}