.testimonial {
  padding: 120px 0;
}

.testimonial .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.testimonial-video {
  position: relative;
  display: flex;
  max-width: 627px;
  border-radius: 10px;
  overflow: hidden;
}

.play-button {
  position: absolute;
  width: 95px;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.8;
  transition: all .5s ease-in-out;
}

.testimonial-video-img {
  width: 100%;
}

.testimonial-video:hover .play-button {
  transform: scale(1.05);
  opacity: 0.9;
}


.testimonial-text {
  max-width: 513px;
  margin-bottom: 35px;
  color: #57586e;
  font-size: 26px;
  line-height: 1.7;
}

.testimonial-author-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.testimonial-author {
  color: #57586e;
  font-size: 17px;
  line-height: 1.5;
}

.testimonial-author span {
  font-weight: 600;
  font-size: 18px;
  color: #0a083b;
}
