.topbar {
  width: 100%;
  background-color: #0A083B;
  color: white;
  text-align: center;
}

.topbar-hide {
  animation: hide .4s 1 ease-in-out; 
  animation-fill-mode: forwards;
}

.topbar-container {
  display: flex;
  align-items: center;
  max-width: 1140px;
  width: 90%;
  margin: 0 auto;
  height: 50px;
}

.topbar-alert {
  margin-left: auto;
  font-size: 14px;
  margin-right: 15px;
  padding: 6px 12px;
  border-radius: 25px;
  background-color: #175cff;
  line-height: 1;
  font-weight: 600;

}

.topbar-text {
  font-size: 16px;
  font-weight: 600;
}

.topbar-close {
  margin-left: auto;
  line-height: 1.3;
  color: #1d1d1f;
  font-size: 16px;
  font-weight: 600;
  border-radius: 100%;
  background-color: #fff;
  cursor: pointer;
  width: 25px;
  height: 25px;
}

@keyframes hide {
  from {
    margin-top: 0;
  }

  to {
    margin-top: -50px;
  }
}