.trust {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 100px;
}

.trust-text {
  text-align: center;
  font-size: 18px;
  line-height: 1.8;
  color: #57586e;
}

.trust-logos {

  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.trust-logo {
  width: 200px;
}
